@charset "UTF-8";

@import '../../../public/style/base';

.article-item {
  padding: 15px 20px;
  margin-bottom: 10px;
  // 作者
  .author-box {
    margin-bottom: 10px;

    .author-head {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin-right: 10px;
      background: $bkgGray;
    }

    .author-name {
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
      color: $textTitle;
      line-height: 24px;
      vertical-align: top;
    }

    .author-bio {
      display: inline-block;
      font-size: 16px;
      color: $textSubTitle;
      line-height: 24px;
      vertical-align: top;
    }
  }
  // 内容
  .content {
    color: $textContent;
    line-height: 1.67;
  }
  // 操作
  .article-options {
    display: flex;
    margin-top: 10px;
    border-top: 1px solid #ebebeb;

    .option {
      flex: 1;
      padding-top: 10px;
      text-align: center;
      font-size: 14px;
      color: $textOptions;
    }
  }
}