@charset "UTF-8";

@import 'base';

// 基本样式
body, p, ul, li, h1, h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "PingFang SC";
  background: #f6f6f6;
}

.single-column-layout-container {
  margin-top: 45px;

  .content-container {
    width: $contentWidth;
    margin: 0 auto;
  }
}

.sign-layout-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $darkGray;
  background-image: url("../../public/images/sign-layout-background.jpg");
  background-size: cover;

  .content-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: $textFooter;
  }
}

// 首页
.home-container {
  display: flex;
  padding-top: 20px;

  .left-container {
    .user-container {
      box-sizing: border-box;
      width: 300px;
      margin-right: 20px;
      overflow: hidden;

      .user-head {
        display: block;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        float: left;
        background: $bkgGray;
      }

      .user-info {
        float: left;

        .username {
          font-size: 16px;
          line-height: 25px;
          color: $bkgGray;
        }
      }
    }
  }

  .right-container {
    flex: 1;

    .feed-list {

    }
  }
}

// 注册
.sign-up-container {
  width: $contentWidth/2;
  text-align: center;
  
  .title {
    margin-bottom: 5px;
    color: $viColor;
    font-size: $fontTitle;
    font-weight: normal;
  }

  .sub-title {
    color: $textSubTitle;
    font-size: $fontSubTitle;
    font-weight: normal;
  }
}

