@charset "UTF-8";

@import 'base';

// 基本样式
p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PingFang SC";
}

.layout-container {
  margin-top: 45px;

  .content-container {
    width: $contentWidth;
    margin: 0 auto;
  }
}

.home-container {
  background: #fff;
}

